<div class="card">
    <div class="card-header">
      <h3 class="card-title">Usuario</h3>
    </div>
    <div class="card-body">
      <section class="content">
        <div class="container-fluid">
          <div class="row d-flex justify-content-center">
            <div class="col-md-6">
  
              <!-- Profile Image -->
              <div class="card card-primary card-outline">
                <div class="card-body box-profile">
                  <div class="text-center">
                    <img class="profile-user-img img-fluid img-circle"
                         src="../../../assets/dist/img/users.png"
                         alt="User profile picture">
                  </div>

                  <h3 class="profile-username text-center">{{ emprendedor.name }}</h3>
  
                  <p class="text-muted text-center" *ngIf=" emprendedor.rol  == ''">Emprendedor/a</p>
                  <p class="text-muted text-center" *ngIf=" emprendedor.rol  == 'administrador'">Administrador/a</p>
  
                  <ul class="list-group list-group-unbordered mb-3">
                    <li class="list-group-item">
                      <b>Correo:</b> <a class="float-right">{{ emprendedor.email }}</a>
                    </li>
                    <li class="list-group-item">
                      <b>celular: </b> <a class="float-right">{{ emprendedor.mobile }}</a>
                    </li>                    
                  </ul>
  
                  <!-- <a href="#" class="btn btn-primary btn-block"><b>Seguir</b></a> -->
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
            <!-- /.col -->
            
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div><!-- /.container-fluid -->
      </section>
    </div>
    <!-- /.card-body -->
  </div>
