<div class="card">
  <div class="card-header">      
    
    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
        <i class="fas fa-minus"></i></button>
    </div>
  </div>
  <div class="card-body">
    <div class="col-md-12">
      
      <div class="card card-secondary">
        <div class="card-header">
          <h3 class="card-title">RESOLVER SOLICITUD</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form (ngSubmit)="onSubmit(formSolicitud)" #formSolicitud="ngForm" enctype="multipart/form-data">           
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <!-- text input -->
                <div class="form-group">
                  <input type="text" 
                          hidden
                          name="id"
                          #id="ngModel"
                          [(ngModel)]="solicitudService.solicitudSelect.id"
                          >             
                  <input type="text" 
                          hidden
                          name="tipo"
                          #id="ngModel"
                          [(ngModel)]="solicitudService.solicitudSelect.tipo"
                          >        
                  <label>Nombre del producto:</label>
                  <input type="text" 
                          disabled
                          class="form-control" 
                          name="nombre"
                          #nombre="ngModel"
                          [(ngModel)]="solicitudService.solicitudSelect.nombre"
                          placeholder="Ingrese el nombre del producto..." 
                          >
                </div>
              </div>
              <div class="col-sm-3">
                <!-- text input -->
                <div class="form-group">
                  <label>Descripción del producto:</label>
                  <input type="text" 
                          class="form-control" 
                          disabled
                          name="descripcion" 
                          #descripcion="ngModel"
                          [(ngModel)]="solicitudService.solicitudSelect.descripcion"
                          placeholder="Ingrese una descripción del producto..." 
                          >
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <label for="exampleInputFile">Subir Archivo "AR" del producto</label>
                  <div class="input-group">
                    <div class="custom-file">              
                      
                      <!-- <label class="custom-file-label"></label> -->
                      <input type="file" 
                              class="custom-file-input" 
                              name="modAR"
                              #foto="ngModel"
                              [(ngModel)]="solicitudService.solicitudSelect.modAR"
                              id="exampleInputImage" 
                              
                              (change)="fileEventImage($event)">
                    </div>                  
                  </div>
                </div>                  
              </div>  

              <div class="col-sm-3">
                <!-- text input -->
                <div class="form-group">
                  <label>URL "AR" del producto:</label>
                  <input type="text" 
                          class="form-control"                           
                          name="urlAR" 
                          #descripcion="ngModel"
                          [(ngModel)]="solicitudService.solicitudSelect.urlAR"
                          placeholder="Ingrese la URL de AR generada del producto..." 
                          >
                </div>
              </div>
            </div>

            <div class="row">              
                            
            </div>
          </div>
          <!-- /.card-body -->
        
          <div class="card-footer">
            <button type="submit" class="btn btn-secondary">Guardar</button>
            <button class="btn btn-danger" (click)="onClearForm(formSolicitud)" style="margin-left: 1rem">Cancelar</button>
          </div>
          
        </form>
      </div>
      <!-- /.card -->
    </div>      
  </div>
  <!-- /.card-body -->

</div>
<div class="card">
    <div class="card-header">
      <h3 class="card-title"></h3>
  
      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
          <i class="fas fa-minus"></i></button>
      </div>
    </div>
    <div class="card-body">
      <div class="col-md-12">
        <div class="card card-secondary">
          <div class="card-header">
            <h3 class="card-title">LISTA DE SOLICITUDES</h3>            
          </div>
            
          <!-- /.card-header -->
          <div class="card-body">
            <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
              <div class="row">
                <div class="col-sm-12">
                  <table id="example1" class="table table-bordered table-striped dataTable dtr-inline" role="grid" aria-describedby="example1_info">
                    <thead>
                      <tr role="row">
                        <th>ID</th>                        
                        <th>PRODUCTO</th>
                        <th>DESCRIPCIÓN</th>                        
                        <th>IMAGEN</th>
                        <th>ARCHIVO</th>                        
                        <th>ACCIONES</th>
                      </tr>
                    </thead>
                    <tbody *ngFor="let item of solicitudes; let indice=index">
                      <tr role="row" class="odd">
                        <td hidden>{{ item.id }}</td>
                        <td hidden>{{ item.tipo }}</td>
                        <td tabindex="0" class="sorting_1">{{ indice+1 }}</td>                        
                        <td>{{ item.nombre }}</td>                        
                        <td>{{ item.descripcion }}</td>
                        <td><img src="{{item.foto}}" style="height: 150px; width: auto; border-radius: 5px;"/></td>
                        <td><a href="{{ item.modAR }}">Descargar</a></td>
                         
                        <td>
                          <button class="btn btn-warning" data-toggle="tooltip" 
                                  title="" 
                                  id="btnEditarUM" 
                                  (click)="onEdit(item)"
                                  data-original-title="Editar"><i class="fas fa-pencil-alt"></i>  
                          </button>
                            &nbsp;
                          <button class="btn btn-danger" 
                                  data-toggle="tooltip" 
                                  title="" 
                                  id="btnEliminarUM" 
                                  (click)="onDelete(item.id)" 
                                  data-original-title="Eliminar"><i class="fas fa-trash-alt"></i>  </button>
                        </td> 
                      </tr>                              
                    </tbody>
                            
                  </table>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 col-md-3">
                  <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                    <ul class="pagination">
                      <li class="paginate_button page-item previous" id="example1_previous">
                       
                        <button class="btn btn-secondary" 
                                style="margin: 5px"
                                (click)="prevPage()">
                          Anterior
                        </button>
                      </li>
                      <li class="paginate_button page-item next" id="example1_next">
                        
                        <button class="btn btn-secondary" 
                                style="margin: 5px"
                                [disabled]="(solicitudes | filtro:page).length === 0"
                                (click)="nextPage()">
                          Siguiente
                        </button>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.card-body -->
        </div>
      </div>
      
    </div>
    <!-- /.card-body -->
  
    <!-- /.card-footer-->
  </div>